<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Cream</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheet/styles.css">

    <!-- Scripts -->
    <script src="/js/ice-cream.js" defer></script>

</head>
<body>
    <main>
        <header>
            <h1>Ice Cream Order Form</h1>
            <img src="/js/img/ice-cream.png" alt="three ice cream cones">
        </header>

        <form action="/confirm" method="POST">
            <fieldset>
                <legend>Personal Information</legend>
                <label for="name">Name:
                    <span class="err" id="name-err">First name is required</span>
                </label>
                <input type="text" id="name" name="customer">

                <label for="email">Email:
                    <span class="err" id="email-err">Email is required</span>
                </label>
                <input type="email" id="email" name="email">
            </fieldset>

            <fieldset>
                <legend>Order Details</legend>

                <label for="flavor">Choose your flavor:
                    <span class="err" id="flavor-err">Flavor is required</span>
                </label>
                <select name="flavor" id="flavor">
                    <option value="vanilla">Vanilla</option>
                    <option value="strawberry">Strawberry</option>
                    <option value="chocolate">Chocolate</option>
                </select>

                <label>Choose your cone:
                    <span class="err" id="cone-err">Cone type is required</span>
                </label>
                <label for="Sugar-Cone">
                    <input type="radio" id="Sugar-Cone" name="cone" value="Sugar-Cone">
                    Sugar Cone
                </label>
                <label for="Cup">
                    <input type="radio" id="Cup" name="cone" value="Cup">
                    Cup
                </label>

                <label>Toppings</label>
                <label for="Sprinkles">
                    <input type="checkbox" id="Sprinkles" name="toppings[]" value="Sprinkles">Sprinkles
                </label>
                <label for="Nuts">
                    <input type="checkbox" id="Nuts" name="toppings[]" value="Nuts">Nuts
                </label>
                <label for="Cherry">
                    <input type="checkbox" id="Cherry" name="toppings[]" value="Cherry">Cherry
                </label>
                <label for="Whipped-Cream">
                    <input type="checkbox" id="Whipped-Cream" name="toppings[]" value="Whipped-Cream">Whipped Cream
                </label>

                <label for="comments">Additional Comments:</label>
                <textarea rows="5" id="comments" name="comments"></textarea>
            </fieldset>

            <button type="submit" id="submit-button">Submit Order</button>
        </form>
    </main>
    <a href="/admin">View All Orders</a>
</body>
</html>